@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Test Capitaria</h1>
    <p class="lead">En el menú de navegación se puede chequear las actividades solicitadas en el test.</p>
</div>
