@model Colegio_Capitaria.Models.PRUEBAS

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>PRUEBAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            CURSO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURSOS.DESCRIPCION)
        </dd>

        <dt>
            ASUNTO DE PRUEBA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_PRUEBA }) |
    @Html.ActionLink("Volver", "Index")
</p>
